::selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

::-moz-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

::-webkit-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  padding-top: 5em;
  font-family: $roboto-slab;
}

h1,h2,h3,.nav-item {
  font-family: $roboto-condensed;
}

.nav-item{
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  border-bottom: 8px solid $orange;
  padding-bottom: 4px;
}

h2 {
  border-bottom: 6px solid $grey;
}

h3 {
  border-left: 8px solid #bbbbbb;
  padding-left: 6px;
}

.vehicle-card {
    font-size: .8rem;
    background:#eee;
    border:0px;
}

.vehicle-card .card-title {

}

.vehicle-card .card-text {
    margin-bottom: .2rem;
}
