<transition
  name="person-appear-animation"
  enter-active-class="animated flipInX">
  <div v-if="vehicle.name">
    <div class="card card-block">
      <h2 class="card-title">{{vehicle.name}}</h2>
      <p class="card-text">Model: {{vehicle.model}}</p>
      <p class="card-text">Manufacturer: {{vehicle.manufacturer}}</p>
      <p class="card-text">Class: {{vehicle.vehicle_class}}</p>
      <p class="card-text">Cost: {{vehicle.cost_in_credits}}</p>
      <p class="card-text">Speed: {{vehicle.max_atmosphering_speed}}</p>
    </div>
    <hr>

  </div>
</transition>
